header {
    display: block;
    width: 6vw;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
header p {
    position: fixed;
    margin: 0;
    font-size: 1.5rem;
    transform: translateY(12vh) translateX(-3.5vw) rotate(+270deg);
    white-space: nowrap;
}
header .end p {
    position: block;
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    transform: translateY() translateX(-10vw) rotate(+270deg);
    white-space: nowrap;
}

header a img {
    position: fixed;
    width: 2vw;
    padding: 0.4vw;
    bottom: 1vw;
    left: 1vw;
    border-radius: 2vw;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

/* responsive */
@media screen and (max-width: 560px) {
    header {
        width: 280vw;
        white-space: nowrap;
    }
    header p {
        transform: none;
    }
}
